<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for(@student) do |f| %>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
    <%= f.submit %>
    <%end%>
  </body>
</html>
