<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @school_classes.each do |school_class| %>
    <%= school_class.title %>
    <% end %>

  </body>
</html>
